.page {
min-width: 1100px;
max-width: 1600px;
margin: 0 auto;
font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
height: 100vh;
min-height: 600px;
height: 756px;
position:relative;
background-color: #f2f2f2;
display: flex;
flex-direction: column;
justify-content: center;
border: 1px solid red;
margin: 0 auto;
overflow: hidden;
}

.logo {
border: 1px solid red;
margin: 0 auto;
width: 183px;
height: 32px;
}

.logo_place_header {
position: absolute;
top: 30px;
left: 64px;
z-index: 2;
}

.header__title {
display: flex;
font-size: 102px;
font-weight: bold;
border: 1px solid red;
margin: 0 0 0 64px;
z-index: 2;
max-width: 730px;
line-height: 96px;
height: fit-content;
}

.header__subtitle {
position: absolute;
left: 64px;
bottom: 30px;
width: 388px;
line-height: 25px;
font-size: 18px;
text-decoration: none;
border: 1px solid red;
margin: 0 auto;
z-index: 2;
}

.header__link {
text-decoration: none;
margin: auto 0;
}

.header__main-illustration {
background-image: url(../images/header-image.png);
height: 608px;
width: 765px;
background-repeat: no-repeat;
background-position: bottom right;
background-size: cover;
position: absolute;
right: 0;
bottom: 0;
z-index: 1;
border: 1px solid red;
}

.header__square-pic {
height: 568px;
width: 568px;
background: #2f80ed;
position: absolute;
right: 0;
top: 64px;
border: 1px solid red;
}

.description {
position: relative;
display: flex;
border: 1px solid red;
}

.two-columns {
display: flex;
justify-content: space-between;
border: 1px solid red;
width: 80%;
margin: 100px auto;
}

.two-columns__brief {
display: flex;
border: 1px solid red;
font-size: 18px;
line-height: 1.2;
color:#2f80ed;
font-weight: normal;
max-width: 175px;
margin: 0;
}

.two-columns__main-text {
border: 1px solid red;
margin: 0;
min-width: 784px;
width: 80%;
}

.two-columns__paragraph {
display: flex;
flex-direction: column;
border: 1px solid red;
margin: 0;
font-size: 24px;
line-height: 34px;
}

.two-columns__paragraph_2 {
display: flex;
flex-direction: row;
border: 1px solid red;
margin: 30px 0;
}

.span-accent {
display: flex;
border: 1px solid red;
margin: 0;
font-weight: bold;
}

.digits {
border: 1px solid red;
position: relative;
}

.section-title {
line-height: 1.15;
font-size: 60px;
font-weight: bold;
border: 1px solid red;
width: 60%;
text-align: center;
}

.section-title_theme_white {
margin: 100px auto auto auto;
}

.section-subtitle {
line-height: 34px;
font-size: 24px;
font-weight: normal;
border: 1px solid red;
width: 60%;
text-align: center;
margin: 20px auto auto auto;
}

.table {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
width: 1100px;
border: 1px solid red;
list-style: none;
padding: 0;
}

.table_theme_white {
margin: auto auto 100px auto;
}

.table__cell {
display: flex;
flex-direction: column;
border: 1px solid red;
}

.table__cell_theme_white {
width: 250px;
margin-top: 60px;
}

.table__heading {
display: flex;
line-height: 1.15;
font-size: 24px;
font-weight: bold;
margin: 0;
}

.table__text {
display: flex;
line-height: 1.2;
font-size: 18px;
font-weight: normal;
margin: 20px 0 auto 0;
}

.feynman {
height: 890px;
background-color: #f2f2f2;
position: relative;
z-index: 1;
border: 1px solid red;
}

.feynman__title {
width: 648px;
line-height: 1.15;
font-size: 120px;
font-weight: bold;
text-align: center;
margin: 100px auto auto auto;
border: 1px solid red;
}

.feynman__subtitle {
max-width: fit-content;
line-height: 51px;
font-size: 36px;
font-weight: normal;
margin: 70px auto auto auto;
border: 1px solid red;
}

.feynman__link {
position: absolute;
top: 50%;
right: 48px;
text-decoration: none;
line-height: 51px;
font-size: 36px;
font-weight: normal;
color:#2f80ed;
margin: auto 0;
border: 1px solid red;
}

.feynman__img {
position: absolute;
left: 0;
bottom: 0;
width: 867px;
height: 637px;
margin: auto 0;
border: 1px solid red;
z-index: -1;
}

.kaufman {
position: relative;
background-color: black;
z-index: -2;
overflow: hidden;
border: 1px solid red;
}

.section-title_theme_dark {
color: white;
margin: 90px auto auto auto;
border: 1px solid red;
}

.section-subtitle_theme_dark {
border: 1px solid red;
color: white;
}

.table_theme_dark {
border: 1px solid red;
margin: auto auto 90px auto;
}

.table__cell_theme_dark {
width: 200px;
color: white;
margin-right: 0;
margin-top: 80px;
}

.table__heading_theme_dark {
color: white;
}

.table__text_theme_dark {
color: white;
}

.kaufman__triangle {
height: 877px;
width: 877px;
background-image: url(../images/kaufman-triangle.svg);
background-size: contain;
background-repeat: no-repeat;
position: absolute;
right: -210px;
top: 0;
border: 1px solid red;
margin: auto 0;
z-index: -1;
}

.footer {
display: flex;
background-color: #000000;
min-height: 350px;
border: 1px solid red;
}

.footer__columns {
display: flex;
justify-content: space-between;
margin: 60px auto 40px auto;
border: 1px solid red;
width: 90%;
}

.footer__column_content_copyright {
display: flex;
flex-direction: column;
justify-content: space-between;
flex-basis: 711px;
border: 1px solid red;
}

.logo_place_footer {
display: flex;
width: 183px;
height: 35px;
margin: 0;
}

.footer__author {
display: flex;
margin: 18px 0;
color: white;
line-height: 25px;
font-size: 18px;
font-weight: normal;
border: 1px solid red;
width:fit-content;
}

.footer__column_content_info {
display: flex;
flex-direction: column;
border: 1px solid red;
}

.footer__column_content_social {
display: flex;
flex-direction: column;
border: 1px solid red;
}

.footer__column-heading {
display: flex;
color: white;
line-height: 30px;
font-size: 18px;
font-weight: bold;
margin: 0;
border: 1px solid red;
}

.footer__column-links {
display: flex;
flex-direction: column;
list-style: none;
padding-left: 0;
margin-top: 20px;
margin-bottom: 16px;
line-height: 30px;
font-size: 18px;
font-weight: normal;
border: 1px solid red;
}

.footer__column-link {
display: flex;
color: white;
border: 1px solid red;
text-decoration: none;
margin: 0;
}

.footer__social-icon {
width: 16px;
height: 16px;
color: white;
border: 1px solid red;
margin: auto 10px auto 0;
}
