.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position:relative;
  background-color: #f2f2f2;
  display: flex;
  border: 1px solid red;
  margin: 0 auto;
}

.logo {
border: 1px solid red;
margin: 0 auto;
width: 183px;
height: 32px;
}

.logo_place_header {
position: absolute;
top: 30px;
left: 64px;
/*сделать поверх других блоков */
}

.header_title {
display: flex;
flex-direction: column;
flex-basis: auto;
justify-content: center;
font-size: 102px;
font-weight: 500px;
border: 1px solid red;
margin: 0 0 0 64px;
z-index: 2;
max-width: 730px;
line-height: 96px;
/*сделать поверх других блоков */
}

.header_subtitle {
position: absolute;
left: 64px;
bottom: 30px;
width: 388px;
line-height: 25px;
font-size: 18px;
text-decoration: none;
border: 1px solid red;
margin: 0 auto;
z-index: 2;
/*сделать поверх других блоков */
}

.header_link {
text-decoration: none;
margin: auto 0;
}

.header_main-illustration {
height: 608px;
width: 765px;
background-size: cover;
background-repeat: no-repeat;
background-position: right bottom;
position:absolute;
right: 0;
bottom: 0;
margin: auto 0;
z-index: 1;
border: 1px solid red;
}

.header_square-pic {
  height: 568px;
  width: 568px;
  background: #2f80ed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  position: absolute;
  right: 0;
  top: 64px;
  border: 1px solid red;
  margin: auto 0;
}

.content {
}

.description {
position: relative;
display: flex;
border: 1px solid red;
margin: 0 auto;
}

.two-columns {
display: flex;
justify-content: space-between;
border: 1px solid red;
width: 80%;
margin: 100px auto;
}

.two-columns_brief {
display: flex;
border: 1px solid red;
font-size: 18px;
line-height: 1.2;
color:#2f80ed;
font-weight: normal;
max-width: 175px;
margin: 0;
}

.two-columns_main-text {
border: 1px solid red;
margin: 0;
min-width: 784px;
width: 80%;
}

.two-columns_paragraph {
display: flex;
flex-direction: column;
border: 1px solid red;
margin: 0;
font-size: 24px;
line-height: 34px;
}

.p2 {
display: flex;
flex-direction: row;
border: 1px solid red;
margin: 30px 0;
}

.span-accent {
display: flex;
border: 1px solid red;
margin: 0;
font-weight: bold;
}

.digits {}

.feynman {
height: 890px;
background-color: #f2f2f2;
position: relative;
width: 1600px;
z-index: -2;
border: 1px solid red;
}

.feynman_title {
width: 648px;
line-height: 1.15;
font-size: 120px;
font-weight: bold;
text-align: center;
margin: 100px auto auto auto;
border: 1px solid red;
}

.feynman_subtitle {
max-width: fit-content;
line-height: 51px;
font-size: 36px;
font-weight: normal;
margin: 70px auto auto auto;
border: 1px solid red;
}

.feynman_link {
position: absolute;
top: 50%;
right: 48px;
text-decoration: none;
line-height: 51px;
font-size: 36px;
font-weight: normal;
color:#2f80ed;
margin: auto 0;
border: 1px solid red;
}

.feynman_img {
position: absolute;
left: 0;
bottom: 0;
width: 867px;
height: 637px;
margin: auto 0;
border: 1px solid red;
z-index: -1;
}


/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.footer {
display: flex;
background-color: #1f1f1f;
min-height: 350px;

}

.logo_place_footer {
display: flex;
width: 183px;
height: 35px;
margin: 0 auto;
}
