.page {
min-width: 1100px;
max-width: 1600px;
margin: 0 auto;
font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
min-height: 600px;
height: 756px;
position:relative;
background-color: #f2f2f2;
display: flex;
flex-direction: column;
justify-content: center;
margin: 0 auto;
overflow: hidden;
}

.logo {
margin: 0 auto;
width: 183px;
height: 32px;
}

.logo_place_header {
position: absolute;
top: 30px;
left: 64px;
z-index: 2;
}

.header__title {
display: flex;
font-size: 102px;
font-weight: bold;
margin: 0 0 0 64px;
z-index: 2;
max-width: 730px;
line-height: 96px;
height: fit-content;
}

.header__subtitle {
position: absolute;
left: 64px;
bottom: 30px;
width: 388px;
line-height: 25px;
font-size: 18px;
text-decoration: none;
margin: 0 auto;
z-index: 2;
}

.header__link {
text-decoration: none;
margin: auto 0;
}

.header__main-illustration {
height: 608px;
width: 765px;
position: absolute;
right: 0;
bottom: 0;
z-index: 1;
}

.header__square-pic {
height: 568px;
width: 568px;
background: #2f80ed;
position: absolute;
right: 0;
top: 64px;
}

.description {
display: flex;
padding-top: 100px;
}

.two-columns {
display: flex;
justify-content: space-between;
width: 80%;
margin: 0 auto;
}

.two-columns__brief {
display: flex;
font-size: 18px;
line-height: 1.2;
color:#2f80ed;
font-weight: normal;
max-width: 175px;
margin: 0;
}

.two-columns__main-text {
margin: 0;
min-width: 784px;
width: 80%;
}

.two-columns__paragraph {
display: flex;
font-size: 24px;
line-height: 34px;
margin: 0;
}

.two-columns__paragraph:not(:first-child) {
margin: 30px 0 0 0;
}

.two-columns__span-accent {
font-weight: bold;
}

.digits {
position: relative;
padding-top: 100px;
padding-bottom: 100px;
}

.section-title {
line-height: 1.15;
font-size: 60px;
font-weight: bold;
width: 60%;
text-align: center;
}

.section-title_theme_white {
margin: 0 auto;
}

.section-subtitle {
line-height: 34px;
font-size: 24px;
font-weight: normal;
width: 60%;
text-align: center;
margin: 20px auto auto auto;
}

.table {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
width: 1100px;
list-style: none;
padding: 0;
}

.table_theme_white {
margin: 0 auto;
}

.table__cell {
display: flex;
flex-direction: column;
}

.table__cell_theme_white {
width: 250px;
margin-top: 60px;
}

.table__heading {
display: flex;
line-height: 1.15;
font-size: 24px;
font-weight: bold;
margin: 0;
}

.table__text {
display: flex;
line-height: 1.2;
font-size: 18px;
font-weight: normal;
margin: 20px 0 auto 0;
}

.feynman {
min-height: 890px;
background-color: #f2f2f2;
position: relative;
z-index: 1;
}

.feynman__title {
width: 648px;
line-height: 1.15;
font-size: 120px;
font-weight: bold;
text-align: center;
margin: 0 auto;
}

.feynman__subtitle {
max-width: fit-content;
line-height: 51px;
font-size: 36px;
font-weight: normal;
margin: 70px auto auto auto;
}

.feynman__link {
position: absolute;
top: 50%;
right: 48px;
text-decoration: none;
line-height: 51px;
font-size: 36px;
font-weight: normal;
color:#2f80ed;
margin: auto 0;
}

.feynman__img {
position: absolute;
left: 0;
bottom: 0;
width: 867px;
height: 637px;
margin: auto 0;
z-index: -1;
}

.kaufman {
position: relative;
background-color: black;
z-index: -2;
overflow: hidden;
}

.section-title_theme_dark {
color: white;
margin: 90px auto auto auto;
}

.section-subtitle_theme_dark {
color: white;
}

.table_theme_dark {
margin: auto auto 90px auto;
}

.table__cell_theme_dark {
width: 200px;
color: white;
margin-right: 0;
margin-top: 80px;
}

.table__heading_theme_dark {
color: white;
}

.table__text_theme_dark {
color: white;
}

.kaufman__triangle {
height: 877px;
width: 877px;
background-image: url(../images/kaufman-triangle.svg);
background-size: contain;
background-repeat: no-repeat;
position: absolute;
right: -210px;
top: 0;
margin: auto 0;
z-index: -1;
}
/*размеры треугольника*/

.footer {
display: flex;
background-color: #000000;
min-height: 350px;
}

.footer__columns {
display: flex;
justify-content: space-between;
margin: 60px auto 40px auto;
width: 90%;
}

.footer__column_content_copyright {
display: flex;
flex-direction: column;
justify-content: space-between;
flex-basis: 711px;
}

.logo_place_footer {
display: flex;
width: 183px;
height: 35px;
margin: 0;
}

.footer__author {
display: flex;
margin: 18px 0;
color: white;
line-height: 25px;
font-size: 18px;
font-weight: normal;
width:fit-content;
}

.footer__column_content_info {
display: flex;
flex-direction: column;
}

.footer__column_content_social {
display: flex;
flex-direction: column;
}

.footer__column-heading {
display: flex;
color: white;
line-height: 30px;
font-size: 18px;
font-weight: bold;
margin: 0;
}

.footer__column-links {
display: flex;
flex-direction: column;
list-style: none;
padding-left: 0;
margin-top: 20px;
margin-bottom: 16px;
line-height: 30px;
font-size: 18px;
font-weight: normal;
}

.footer__column-link {
display: flex;
color: white;
text-decoration: none;
margin: 0;
}

.footer__social-icon {
width: 16px;
height: 16px;
color: white;
margin: auto 10px auto 0;
}
